<template>
        <div class="cart">
            <div class="cart-header">
                <div class="cart-title">
                    <h1>YOUR BAG</h1><h3>({{totalCartItems()}} items)</h3>
                </div>
                <button class="close-button" @click="$emit('modalValue', [false, totalCartItems()])">
                <!-- <button class="close-button" v-on:click="sendValue(this.modal_return)"> -->
                    <img src="../assets/icons/close_icon.png" alt="">
                </button>
            </div>
            <hr>

            <div class="cart-body">
                <div class="cart-item" v-for="item in cartContents" :key="item.id">
                    <div class="cartItem-details">
                        <div class="cartItem-picture" :style="{'--bg-image': 'url('+item.image+')'}"></div>
                        <div class="cartItem-specifics">
                            <div class="specifics-header">
                                <div class="cartItem-name"><b>{{(item.name).toUpperCase()}}</b></div>
                                <div class="remove-cartItem">
                                    <button class="removeItem" @click="removeItemfromLocalStorage(item.id) && removeItemfromShoppingList(item.id)">
                                        <img src="../assets/icons/close_icon.png" alt="">
                                    </button>     
                                </div>
                            </div>
                            <div class="specifics-body">
                                <span class="cartItem-color" v-if="item.color!=null && item.size!=null">Color:&nbsp;{{item.color}}/{{item.size}}</span>                  
                            </div>
                            <div class="specifics-footer">
                                    <div class="add-subtract-cartItem">
                                        <span class="subtract-cartItem"><button v-on:click="decrease_itemQuantity(item.id)"><h2>-</h2></button></span>
                                        <span class="item-quantity">{{item.quantity}}</span>
                                        <span class="add-cartItem"><button  v-on:click="increase_itemQuantity(item.id)"><h2>+</h2></button></span>
                                    </div>
                                    <div class="cartItem-totalPrice">
                                        <p>{{`$${(item.quantity*parseFloat((item.price).slice(1,-1))).toFixed(2)}`}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>                    
                    <hr>
                </div>
            </div>
            <hr>

            <div class="cart-footer">
                <div class="subtotal">
                    <h2>SUBTOTAL</h2><h2>{{`$${this.totalPrice.toFixed(2)}`}}</h2>
                </div>
                <button class="checkout-button">
                    <img src="../assets/icons/lock.png" alt="">
                    <p>&nbsp;CHECKOUT</p> 
                </button>
                <div class="info">
                    <p><b>Have a promo code? Enter your code at checkout</b></p>
                    <p><b>Shipping & taxes are calculated during checkout</b></p>
                </div>
            </div>
        </div>
</template>



<script>
import axios from 'axios'
export default {
    name:'Cart',


    props:['cartItem'],


    data(){
        return{
            cartContents: localStorage.getItem("shopping-cart")?JSON.parse(localStorage.getItem("shopping-cart")):[],
            totalPrice: 0,
            item_quantity: 1,
        }
    },


    methods:{

        async storeCartItems(item){
            try {
                let result = await axios.post("http://localhost:3000/items",{
                    id:item.item_id,
                    name:item.name,
                    price:item.price,
                    color:item.color,
                    image:item.image,
                    size:item.size,
                    quantity:1
                })
                if(result.status == 201){
                    //console.log("Successful")
                }
            } catch (error) {
                return "error"
            }
        },

        async getCartItems(){
            try {
                // console.log("in getcartitems")
                let result = await axios.get("http://localhost:3000/items")
                // console.log(result.data.length)
                if(result.data!=[]){
                    this.pushToShoppingList(result.data)
                }
            } catch (error) {
                console.log(error)
            }   
        },

        pushToShoppingList(data){
            for(var i=0; i<data.length;i++){
                // console.log(data[i])
                this.cartContents[i] = data[i]

            }
            localStorage.setItem("shopping-cart",JSON.stringify(this.cartContents))
        },

        async removeItemfromLocalStorage(id){
            // console.log(id)
            try {
                let result = await axios.delete("http://localhost:3000/items/"+id) 
                if(result.status==200){
                    localStorage.removeItem("shopping-cart")
                    setTimeout(2000)
                    this.getCartItems()
                }    
            } catch (error) {
                console.log(error)
            }           
        },  

        removeItemfromShoppingList(id){
            for(var item of this.cartContents){
                if(item.id === id){
                    var removeElement = item
                }
            }
            const index = this.cartContents.indexOf(removeElement)
            if(index > -1){
                this.cartContents.splice(index,1)
            }
            this.calculate_totalPrice()
        },

        calculate_totalPrice(){
            //console.log("In calculate total price")
            this.totalPrice = 0
            for(var i = 0; i<this.cartContents.length; i++){
                this.totalPrice = this.totalPrice + (parseFloat((this.cartContents[i].price).slice(1,-1)))*this.cartContents[i].quantity
            }
        },

        decrease_itemQuantity(itemId){
            for(var i=0; i<this.cartContents.length; i++){
                if(this.cartContents[i].id == itemId){
                    this.cartContents[i].quantity-=1
                    if(this.cartContents[i].quantity==0){
                        this.removeItemfromLocalStorage(itemId)
                        this.removeItemfromShoppingList(itemId)
                    }else{
                        this.updateCartItems(this.cartContents[i], this.cartContents[i].quantity)
                    }
                }
            }
            this.calculate_totalPrice()
        },

        increase_itemQuantity(itemId){
            for(var i=0; i<this.cartContents.length; i++){
                if(this.cartContents[i].id == itemId){
                    this.updateCartItems(this.cartContents[i], this.cartContents[i].quantity+=1)
                }
            }
            this.calculate_totalPrice()
        },

        async updateCartItems(item, item_quantity){
            try{
                const result = await axios.put("http://localhost:3000/items/"+item.id,{
                    id:item.id,
                    name:item.name,
                    price:item.price,
                    color:item.color,
                    image:item.image,
                    size:item.size,
                    quantity:item_quantity
                })
                if(result.status==200){
                    // console.log(result.data)
                    this.getCartItems()
                }
            }catch(error){
                console.log(error)
            }
        },

        totalCartItems(){
            var total_quantity = 0
            if(this.cartContents){
                for(var i = 0; i<this.cartContents.length; i++){
                    total_quantity = total_quantity + this.cartContents[i].quantity
                }
            }
            return total_quantity
        },

        check_sameEntry(){
            console.log(this.cartContents.length)
            if(this.cartContents){
                var cartContent_length = this.cartContents.length
                for(var i=0; i<=cartContent_length-2; i++){
                    if(this.cartContents[i].name== this.cartContents[cartContent_length-1].name && this.cartContents[i].color == this.cartContents[cartContent_length-1].color && this.cartContents[i].size == this.cartContents[cartContent_length-1].size){
                        this.increase_itemQuantity(this.cartContents[i].id)
                        this.deleteCartItem(this.cartContents[cartContent_length-1].id)
                        this.cartContents.splice(-1)
                    }
                }
            }
        },

        async deleteCartItem(itemId){
            try {
                let result = await axios.delete("http://localhost:3000/items/"+itemId)
                if(result.status==200){
                    this.getCartItems()
                }
            } catch (error) {
                console.log(error)
            }
        }

    },


    created(){
        if(this.cartItem=='empty'){
            if(this.cartContents){
                this.calculate_totalPrice()
            }
        }     
        if(this.cartItem!='empty'){
            this.storeCartItems(this.cartItem).then(this.getCartItems).then(this.calculate_totalPrice).then(this.check_sameEntry)
        }      
    },
}
</script>



<style scoped>
    .cart{
        height: 100%;
        background-color: #eff6fb;
    }

    .cart-header{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        /* position: fixed; */
    }

    .cart-title{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
    }

    .cart-title h3{
        margin: 10px 0px 0px 10px;
    }

    .close-button{
        background: transparent;
        border: transparent;
    }

    .cart hr{
        border: 1px solid grey;
        background: grey;
    }

    .close-button img{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .cart-body{
        height: 65%;
        background-color: white;
        overflow-y: scroll;
    }

    .cart-body::-webkit-scrollbar{
        width: 0.5vw;       
    }

    .cart-body::-webkit-scrollbar-thumb{
        background-color:lightgray;
        border-radius: 10px;
    }

    .cart-item{
        /* display: flex; */
        padding: 20px 30px 0px 30px;
    }

    .cart-item hr{
        margin: 10px 0px;
        border: 1px solid lightgrey;
        background-color: lightgray;
    }

    .cartItem-details{
        display: flex;
        margin-bottom: 30px;
    }

    .cartItem-picture{
        width: 150px;
        height: 100px;
        background-image: var(--bg-image);
        background-size: cover;
    }

    .cartItem-specifics{
        width: 100%;
        margin: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .specifics-header{
        display: flex;
        justify-content: space-between;
    }

    .cartItem-name b{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 80%;

    }

    .removeItem{
        display: flex;
        background: transparent;
        border: transparent;
        align-items: flex-start;
        cursor: pointer;
        justify-content: center;
    }

    .removeItem img{
        margin: 2px 0px 0px 0px;
        height: 15px;
        width: 15px; 
    }

    .specifics-body{
        width: 100%;
    }

    .specifics-footer{
        display: flex;
        justify-content: space-between;
    }

    .add-subtract-cartItem{
        width: 40%;
        padding: 2px;
        border: 1px transparent;
        border-radius: 30px;
        background: lightgray;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-subtract-cartItem span{
        font-size: 18px;
        padding: 0px 10px;
    }

    .add-subtract-cartItem span button{
        background: transparent;
        border: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-subtract-cartItem span button h2{
        color: gray;
    }

    .cartItems-totalPrice{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-footer{
        margin: 20px 30px;
    }

    .subtotal{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0px 0px 20px 0px;
        display: flex;
        justify-content: space-between;
    }

    .checkout-button{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        width: 100%;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 10px;
        border: transparent;
        display: flex;
        justify-content: center;
    }

    .checkout-button p{
        margin-top: 5px;
    }

    .checkout-button img{
        height: 20px;
        width: 20px;
        background-color: black;
    }

    .info{
        margin: 10px auto 0px auto;
        width:  95%;
        font-size: 14px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
</style>