<template>
    <div class="section1">
        <h1>Made For You</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae nesciunt quo voluptates quae quidem sunt ab, mollitia odio.</p>
        <button>Learn More</button>
  </div>
</template>

<script>
export default {
    name:'Info'
}
</script>