<template>
    <div class="item-card">
        <div class="item-details">
            <div class="item-image" :style="{'--bg-image': 'url('+selected_item.image+')'}">
                <!-- <img :src="selected_item.image" alt=""> -->
            </div>
            <div class="item-name-price">
                <span><b>{{item.title}}</b></span>
                <span><b>{{selected_item.price}}</b></span>
            </div>
             <br>            
        </div>
        <div class="color-size-selection">
            <div v-if="item.options[0].values!='Default Title'">
                <div class="color-selection">
                     <label v-for="color in item.options[0].values" :key="color" :style="{'background-color':color}" class="custom-radio-btn1">
                        <input type="radio" :value="color" v-model="selected_color" @input="clicked" id="test-color">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="size-selection">
                    <label v-for="size in item.options[1].values" :key="size" class="custom-radio-btn2">
                        <input type="radio" :value="size" v-model="selected_size" @input="clicked" id="test-size">
                        <span class="checkmark2">{{size}}</span>
                    </label>
                </div>

            </div>
            <div v-else class="filler"></div>
        </div>
        <br>
        <button class="addcartbutton"  v-on:click="sendValue(this.selected_item)">ADD TO CART</button>
    </div>   
</template>



<script>
export default {
    name:'ItemDisplay2',


    props:['item'],


    data(){
        return{
            selected_item:{
                id: this.item.id,
                name: this.item.title,
                color: this.item.options[0].values!="Default Title"?this.item.options[0].values[0]:null,
                size: this.item.options[0].values!="Default Title"?this.item.options[1].values[0]:null,
                image: this.item.variants[0].featured_image.src,
                price: `$${this.item.variants[0].price}`,
                quantity: 1
            },
            selected_color: this.item.options[0].values!="Default Title"?this.item.options[0].values[0]:null,
            selected_size: this.item.options[0].values!="Default Title"?this.item.options[1].values[0]:null,
            showModal:true
        }
    },


    emits:["itemSelection"],


    setup(props, {emit}){
        // console.log(this.selectedItem)
        const sendValue = (selected_item) => {emit("itemSelection", selected_item)}
        return{sendValue}
    },


    watch:{

        selected_color(new_value, old_value){
            if(new_value!=''){
                this.checkAvailability("Color", old_value, new_value)
            }
        },

        selected_size(new_value, old_value){
            if(new_value!=''){
                this.checkAvailability("Size", old_value, new_value)
            }           
        }

    },


    methods:{

        clicked(){
            this.$nextTick(() => {
                this.radio = null;
            })
        },

        checkAvailability(checking_for, old_value, new_value){
            console.log("In checkAvailability", checking_for, old_value, new_value)
            var selectedOption_isAvailable = false, selected_itemImage = null, selected_itemPrice = 0
            for(var i = 0; i < this.item.variants.length; i++){
                if(this.item.variants[i].option1 == this.selected_color && this.item.variants[i].option2 == this.selected_size){
                    selectedOption_isAvailable = true
                    selected_itemImage = this.item.variants[i].featured_image.src
                    selected_itemPrice = `$${this.item.variants[i].price}`
                    break;
                }
            }
            if(selectedOption_isAvailable){
                this.selected_item.color = this.selected_color
                this.selected_item.size = this.selected_size
                this.selected_item.image = selected_itemImage
                this.selected_item.price = selected_itemPrice
            }else{
                alert("This selection is not available. Sorry!")
                if(checking_for == "Color"){
                    this.selected_color = ''
                }else{
                    this.selected_size = ''
                }
            }
            console.log(this.selected_item)
        }

    }
}
</script>



<style scoped>
    .item-card{
        margin: 20px 10px 20px 10px;
        width: 300px;
    }

    .item-details{
        width: 100%;
    }

    .item-image{
        width: 100%;
        height: 300px;
        background: var(--bg-image);
        background-size: cover;
    }

    .item-name-price{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px 0px 0px 0px;
        /* padding: 0px 5px; */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }

    .color-selection{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0px -2%;
    }

    .custom-radio-btn1{
        width: 20px;
        height: 20px;
        border: 2px solid #444;
        margin: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-radio-btn1 .checkmark1{
        width: calc(100% - 9px);
        height: calc(100% - 9px);
        border-radius: 50%;
        background-color: white;
        display: none;
    }

    .custom-radio-btn1 input{
        display: none;
    }

    .custom-radio-btn1 input:checked + .checkmark1{
        display: inline-block;
    }

    .size-selection{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 10px 
    }

    .custom-radio-btn2{
        width: 40px;
        height: 40px;
        border:2px solid #444;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-radio-btn2:hover{
        background: black;
        color: white;
        cursor: pointer;
    }

    .custom-radio-btn2 input{
        display: none;
    }


    .filler{
        height:30px;
    }

    .addcartbutton{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        background-color: white;
        cursor: pointer;
        height: 50px;
        border: 2px solid black;
    }
</style>