<template>
    <div class="itemList">
        <div class="selection">
            <div class="gender-select">
                <button class="men" @click="sortByGender('Men')">Men</button>
                <button class="Women" @click="sortByGender('Women')">Women</button>
            </div>
            <div class="drop-down">
                <select name="cars" class="sort-list">
                    <option value="value">values</option>
                    <option value="relevance">Relevance</option>
                    <option value="title">Title</option>
                    <option value="recently_updated">Recently Updated</option>
                    <option value="product_vendor">Product Vendor</option>
                    <option value="product_type">Product Type</option>
                </select>
            </div>
        </div>
        <div class="items" v-if="sort_flag">
            <!-- <ItemDisplay v-for="item in items" :key="item.id" :item="item" @itemSelection="sendToCart" /> -->
            <ItemDisplay2 v-for="item in sorted_products" :key="item.id" :item="item" @itemSelection="sendToCart" />   
        </div>
        <div class="items" v-else>
            <ItemDisplay2 v-for="item in products" :key="item.id" :item="item" @itemSelection="sendToCart" />   
        </div>
    </div>
</template>



<script>
import axios from 'axios'
// import ItemDisplay from './ItemDisplay.vue'
import ItemDisplay2 from './ItemDisplay2.vue'
export default {
    name:'ItemList',


    components:{
        // ItemDisplay,
        ItemDisplay2
    },


    data(){
        return{
            // items: [
            //     {
            //         item_id:1,
            //         name:'Small Noami',
            //         price:'$74.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:4,
            //                 color_value:'Green',
            //                 color_hex: '#646f78',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:5,
            //                 color_value:'Red',  
            //                 color_hex: '#bb0000',                        
            //                 product_image:'Screenshot_1.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],
            //     },
            //     {
            //         item_id:2,
            //         name:'Stormy',
            //         price:'$56.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_2.png'
            //             },
            //         ], 
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],             
            //     },
            //     {
            //         item_id:3,
            //         name:'Puff Larger',
            //         price:'$43.99',
            //         colors:[
            //             {
            //                 color_id:0,
            //                 color_value: 'no-colour',
            //                 product_image:'Screenshot_3.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'], 
            //     },
            //     {
            //         item_id:4,
            //         name:'Helix',
            //         price:'$78.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_4.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Blue',
            //                 color_hex: '#3014f9',
            //                 product_image:'Screenshot_5.png'
            //             },
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'], 
            //     },
            //     {
            //         item_id:5,
            //         name:'Small Noami',
            //         price:'$74.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:4,
            //                 color_value:'Green',
            //                 color_hex: '#646f78',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:5,
            //                 color_value:'Red',  
            //                 color_hex: '#bb0000',                        
            //                 product_image:'Screenshot_1.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],
            //     },
            //     {
            //         item_id:6,
            //         name:'Stormy',
            //         price:'$56.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_2.png'
            //             },
            //         ], 
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],            
            //     },
            //     {
            //         item_id:7,
            //         name:'Puff Larger',
            //         price:'$43.99',
            //         colors:[
            //             {
            //                 color_id:0,
            //                 color_value: 'no-colour',
            //                 product_image:'Screenshot_3.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],    
            //     },
            //     {
            //         item_id:8,
            //         name:'Helix',
            //         price:'$78.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_4.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Blue',
            //                 color_hex: '#3014f9',
            //                 product_image:'Screenshot_5.png'
            //             },
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],   
            //     },
            //     {
            //         item_id:9,
            //         name:'Small Noami',
            //         price:'$74.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:4,
            //                 color_value:'Green',
            //                 color_hex: '#646f78',
            //                 product_image:'Screenshot_1.png'
            //             },
            //             {
            //                 color_id:5,
            //                 color_value:'Red',  
            //                 color_hex: '#bb0000',                        
            //                 product_image:'Screenshot_1.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],
            //     },
            //     {
            //         item_id:10,
            //         name:'Stormy',
            //         price:'$56.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Blue',
            //                 color_hex: '#008c9c',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_2.png'
            //             },
            //             {
            //                 color_id:3,
            //                 color_value:'Black',
            //                 color_hex: '#122230',
            //                 product_image:'Screenshot_2.png'
            //             },
            //         ], 
            //         sizes:['XS', 'S', 'M', 'L', 'XL'],              
            //     },
            //     {
            //         item_id:11,
            //         name:'Puff Larger',
            //         price:'$43.99',
            //         colors:[
            //             {
            //                 color_id:0,
            //                 color_value: 'no-colour',
            //                 product_image:'Screenshot_3.png'
            //             }
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'], 
            //     },
            //     {
            //         item_id:12,
            //         name:'Helix',
            //         price:'$78.99',
            //         colors:[
            //             {
            //                 color_id:1,
            //                 color_value:'Grey',
            //                 color_hex: '#686868',
            //                 product_image:'Screenshot_4.png'
            //             },
            //             {
            //                 color_id:2,
            //                 color_value:'Blue',
            //                 color_hex: '#3014f9',
            //                 product_image:'Screenshot_5.png'
            //             },
            //         ],
            //         sizes:['XS', 'S', 'M', 'L', 'XL'], 
            //     },
            // ],
            products: [],
            sorted_products: [],
            sort_flag: false,
            next_id: 13,
            current_page: 0,
            page_size: 12,
            visible_items: []
        }
    },


    methods:{

        sendToCart(selectedItem){
            //console.log(selectedItem)
            this.sendValue(selectedItem)
        },

        async getSaleProducts(){
            try {
                let result = await axios.get("http://localhost:3000/products")
                if(result.data!=[]){
                    this.products = result.data
                    // console.log(this.products)
                }
            } catch (error) {
                console.log(error)
            }              
        },

        sortByGender(gender){
            this.sorted_products = []
            this.sort_flag = true
            for(var i = 0; i < this.products.length; i++){
                for(var j = 0; j < this.products[i].tags.length; j++){
                    if(this.products[i].tags[j] == gender){
                        this.sorted_products.push(this.products[i])
                    }
                }
            }
            console.log(this.sorted_products.length)
        },

        updatePage(page_number){
            this.current_page = page_number
            this.update_visibleItems()
        },

        update_visibleItems(){
            if(this.sort_flag){
                this.visible_items = this.sorted_products.slice((this.current_page * this.page_size), ((this.current_page * this.page_size) + this.page_size))
            }else{
                this.visible_items = this.products.slice((this.current_page * this.page_size), ((this.current_page * this.page_size) + this.page_size))
            }
            if(this.visible_items.length==0 && this.current_page>0){
                this.updatePage(this.current_page-1)
            }
        }

    },


    emits:["addToCart"],


    setup(props, {emit}){
        const sendValue = (selectedItem) => {emit("addToCart", selectedItem)}
        return{sendValue}
    },
    

    async created(){
        this.getSaleProducts()
    }
}

</script>



<style scoped>
    .selection{
        display: flex;
        justify-content: space-between;
    }

    .gender-select button{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;
        padding: 10px;
        border: 2px solid black;
        background-color: white;
        margin: 0px 5px 0px 5px;
    }

    .gender-select button:hover{
        background-color: black;
        color: white;
    }

    .drop-down{
        border: 2px solid black;
        padding: 10px;
        display: flex;
    }

    .drop-down select{
        width: 100%;
        height: 100%;
        border: transparent;
    }

    .drop-down select:after{
        border: transparent;
    }

    .items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
</style>