<template>
    <div class="item-card">
        <div v-for="color in item.colors" :key="color.color_id">
            <div class="item-details" v-if="selectedItem.color?(selectedItem.color == color.color_value?true:false):false">
                <div class="item-image">
                    <img :src="require(`../assets/images/${color.product_image}`)" alt="">
                </div>
                <div class="item-name-price">
                    <b>{{item.name}}</b><b>{{item.price}}</b>
                </div>
            </div>
        </div>
        <div class="color-selection">
            <div v-for="color in item.colors" :key="color.color_id" >
                <label class="custom-radio-btn1" v-if="color.color_value!='no-colour'" :style="{'background-color':color.color_hex}">
                    <input type="radio" name="color" :value="color.color_value" v-model="selectedItem.color" @click="setValues(color.color_id)">
                    <span class="checkmark"></span>
                </label>
                <div class="filler" v-if="color.color_value=='no-colour'"></div>
            </div> 
        </div>
        
        <div class="size-selection">
            <button  v-for="size in item.sizes" :key="size" v-on:click="selectedItem.size = size">{{size}}</button>
        </div>
        <button class="addcartbutton"  v-on:click="sendValue(this.selectedItem)">ADD TO CART</button>
    </div>
</template>



<script>
export default {
    name:'ItemDisplay',


    props:['item'],


    data(){
        return{
            selectedItem:{
                id: this.item.item_id,
                name:this.item.name,
                price:this.item.price,
                color: this.item.colors[0].color_value,
                image: this.item.colors[0].product_image,
                size: this.item.sizes[0],
                quantity:1,
            },
            showModal:true
        }
    },


    methods:{
        setValues(colorId){
            for(var i = 0; i<this.item.colors.length; i++){
                if(this.item.colors[i].color_id == colorId){
                    this.selectedItem.image = this.item.colors[i].product_image
                }
            }
        }
    },


    emits:["itemSelection"],


    setup(props, {emit}){
        // console.log(this.selectedItem)
        const sendValue = (selectedItem) => {emit("itemSelection", selectedItem)}
        return{sendValue}
    },

}
</script>



<style scoped>
    .item-card{
        margin: 20px 10px 20px 10px;
        width: 300px;
    }

    .item-details{
        width: 100%;
    }

    .item-image img{
        width: 300px;
        height: 300px;
    }

    .item-name-price{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
    }

    .color-selection{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .custom-radio-btn1{
        width: 25px;
        height: 25px;
        border: 2px solid #444;
        margin: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-radio-btn1 .checkmark{
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        border-radius: 50%;
        background-color: white;
        display: none;

    }

    .custom-radio-btn1 input{
        display: none;
    }

    .custom-radio-btn1 input:checked + .checkmark{
        display: inline-block;
    }

    .filler{
        height: 35px;
    }

    .size-selection{
        display: flex;
        width: 100%;
        padding: 13px 0px 13px 0px;
    }

    .size-selection button{
        width: 30px;
        height: 30px;
        border: 1px solid black;
        margin: 2px;
        background-color: white;
        cursor: pointer;
    }

    .size-selection button:hover{
        background-color: black;
        color: white;
    }

    .addcartbutton{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        background-color: white;
        cursor: pointer;
        height: 50px;
        border: 2px solid black;
    }

</style>