<template>
  <div id="app">
    <div class="head">
      <div class="section1">
        <div class="logo">
          <img src="./assets/logo/Logo.png" alt="">
        </div>
        <div class="cart-button">
          <button class="button" @click="clearVariable()">
            <img class="button-image" src="./assets/icons/icons8-shopping-bag-100.png" alt="">
            <span class="image-circle">{{itemNumber}}</span>
          </button>
        </div>
      </div>
      <div class="banner">
        <h1>Featured Collection</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam pulvinar ac tortor imperdiet commodo</p>
      </div>
    </div>
    <transition name="fade" appear>
      <div class="modal-overlay" v-if="showModal"></div>
    </transition>
    <transition name="slide" appear>
      <div class="modal" v-if="showModal">
        <Cart @modalValue="update_modalValue" :cartItem="cartItem"/>
        <!-- <Cart2 @modalValue="update_modalValue" :cartItem="cartItem"/> -->

      </div>
    </transition>
    <div class="body">
      <ItemList @addToCart="addCartItem"/>
    </div>

    <div class="foot">
      <div class="pagination" v-for="page in pageNumber" :key="page">        
        <a href="" @click.stop>{{page}}</a>
        <hr>
      </div>
      <a href="" class="right-arrow" @click.stop><img src="./assets/icons/right_arrow.png" alt=""></a>
    </div>
  </div>

</template>



<script>
import Cart from './components/Cart.vue'
// import Cart2 from './components/Cart2.vue'
import ItemList from './components/ItemList.vue'
  export default {
    name: 'App',


    components: {
      Cart,
      ItemList,
    },


    data(){
      return{
        showModal:false,
        cartItem:'empty',
        itemNumber: localStorage.getItem("shoppingCart-totalItems")?JSON.parse(localStorage.getItem("shoppingCart-totalItems")):0,
        pageNumber: 4,
      }
    },


    methods:{

      addCartItem(selectedItem){
        console.log(selectedItem)
        this.cartItem = selectedItem?selectedItem:'Nothing selected'
        this.showModal = true
      },

      update_modalValue(value){
        this.showModal = value[0]
        // console.log(value[1])
        this.itemNumber = value[1]
        localStorage.setItem("shoppingCart-totalItems",JSON.stringify(value[1]))
      },

      clearVariable(){
        this.showModal = true
        this.cartItem = 'empty'
      }

    },

  }
</script>



<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  #app{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll
  }

  #app::-webkit-scrollbar {
    display: none;
  }

  .modal-overlay{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0,0,0,0.3);
  }

  .modal{
    position: fixed;
    top:0%;
    left:100%;
    height: 100%;
    transform:translate(-100%, 0);
    z-index: 99;
    width: 100%;
    max-width: 400px;
    background-color: white;
  }

  .fade-enter-active, .fade-leave-active{
    transition: opacity 0.5s;
  }

  .fade-enter-from, .fade-leave-to{
    opacity: 0;
  }

  .head{
    background-color: #eff6fb;
  }

  .section1{
    width: 100%;
    display: grid;
  }

  .section1 > *{
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
  }

  .section1 > *:last-child{
    justify-self: right;
  }

  .logo{
    padding: 50px 0px 30px 0px;
  }

  .cart-button{
    display: inline-block;
    margin: 1px;
  }

  .button{
    margin: 0;
    padding: 0;
    border: 1px transparent;
    padding: 10px;
    background-color: #d9f5f4;
    cursor: pointer;
    position: relative;
  }

  .button img{
    height: 30px;
    width: 30px;
    background-color: #d9f5f4;
  }

  .button span{
    position: absolute;
    margin: 33% 0 0 -14%;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white ;
    font-size: 10px;
    /* display: flex; */
  }

  .banner{
    width: 100%;
    text-align: center;
  }

  .banner h1{
    color: #1b2b39;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .banner p{
    margin: auto;
    width: 30%;
    padding: 20px 0px 50px 0px;
    color: #b0b3b6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .body{
    padding: 70px 70px 0px 70px;
  }

  .foot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 70px 0px;
  }

  .pagination a{
    margin: 10px 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .pagination hr{
    display: none;
  }

  .pagination a:hover +  hr{
    display: block;
    background-color: black;
    /* border: 2px transparent; */
  }

  .right-arrow{
    height: 20px;
  }

  .right-arrow img{
    height: 100%;
    width: 20px;
    margin: 0px 0px 0px 10px;
  }
</style>
